* {
    margin: 0;
    padding: 0;
}


#home {
    background-color: black;
    height: 100vh;
    width: auto;
}


#aboutme {
    background-color: white;
    height: 100vh;
    width: auto;
}

#skills {
    background-color: grey;
    height: 100vh;
    width: auto;
}
